# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
.venv/

# VS Code settings (if using VS Code)
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Other common Python caches
*.log
*.sqlite3
